* {
  box-sizing: border-box;
  margin-left: 30px;
  line-height: 1.5;
  padding: 0;
}
img {
  max-width: 20%;
  max-height: 20%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
hr {
  border: none;
  border-top: 3px solid #0a0a0a;
  margin: 50px;
}
body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  color: #333;
}
h1 {
  font-size: 2.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: #0a0a0a;
}
h2 {
  font-size: 1rem;
  color: green;
}
h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0 0 30px;
  color: rgb(36, 127, 246);
}
p {
  font-family: monospace;
  padding: 0;
  margin: 0 0 0 30px;
  font-size: 1rem;
  color: black;
}
